
<div class="text-center">
  <h1>HrLookUp</h1>
</div>

<div class="navbar">
  <div class="heading">
    <ul class="nav nav-tabs">

      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="">Employee Details</a>
      </li>
      <li>
        <a href="">Payroll</a>
      </li>
      <li>
        <a href="">Performance</a>
      </li>
      <li>
        <a href="">Resume tracking</a>
      </li>
    </ul>
  </div>
</div>
