<div class="navbar">
  <div class="heading">
    <ul class="nav nav-tabs">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="">Employee Details</a>
      </li>
      <li>
        <a href="">Payroll</a>
      </li>
      <li>
        <a href="">Performance</a>
      </li>
      <li>
        <a href="">Resume tracking</a>
      </li>
      <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
      </li>

    </ul>
  </div>
</div>
