
<div class="container-fluid">
  <div class="col-md-3 sidebar manage-lvsd">
    <div class="entitle-tab">
      <button class="tablinks active" onclick="openCity(event, 'leave')">Create Leave</button>
      <button class="tablinks" onclick="openCity(event, 'policy')">Leave Policy</button>
      <button class="tablinks" onclick="openCity(event, 'holiday')">Holidays</button>
      <button class="tablinks" onclick="openCity(event, 'setting')">Setting</button>
    </div>
  </div>
  <div class="col-md-9 entitle-content">
    
    <div id="leave" class="tabcontent">
      <%= render "form", entitlement: @entitlement%>
   </div>

    <div id="policy" class="tabcontent">
      <h3>policy</h3>
      <p>policy is the capital of France.</p>
    </div>

    <div id="holiday" class="tabcontent">
      <h3>holiday</h3>
      <p>holiday is the capital of Japan.</p>
    </div> 
    <div id="setting" class="tabcontent">
      <h3>Setting</h3>
      <p>Setting is the capital of Japan.</p>
    </div>
  </div>
</div>

