/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
body{
  background-color: #E5F5FF;
}
span{
  margin: 10px;
}

.nav-entitle-tabs{
  border: none;
}
.navbar{
  border: none;
}
.nav{
  padding-left: 5%;
  li{
    a{
      color: white;
    }
    a:hover{
      color: black;
    }
  }
}

.nav-tabs {
    border-bottom: none;
}


.heading{
 background-color: #0464C5;
 color: #fff;
 font-size: 17px;
 padding: 10px 5px;

}
entitle-table{
  width: 100%;
  margin-top: 20px;
}
td{
  text-align: left;
}
.user-form{
  border: 1px solid #e2e2e2;
  box-shadow: 5px 6px 15px;
  margin: 50px auto;
  padding: 5px 50px;
  width: 500px;
  label{
    margin: auto;
  }
  .form-btn{
    border-radius: 0;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    padding: 10px;
    width: 100%;
  }
  select{
     width: 100%;
     float: right;

  }


}
.field{
  property: block;
  width: 65%;
  label{
    float:right;
  }

}
.actions{
  width: 100%;
  margin-top: 20px;
}
.sidebar{
  border-right: 5px solid #0464C5;
  height: 400px;
}
.hrlandinglist{
  list-style: none;
  font-size: 24px;
  text-align: center;
  li{
    margin: 10px 0;
    a{
    color: black;
    }
    a:hover{
      color: red;
    }
  }
}
#name{
  margin-left: 35%;
}

input[type='email'], input[type='password'],input[type="text"],input[type="search"],
select, input[type='tel']
{
  border: 1px solid #0464c5;
  border-radius: 0;
  box-sizing: border-box;
  color: #00234b;
  font-family: "sharp-sans-medium",Arial,sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  height: 48px;
  line-height: 24px;
  margin: 0;
  padding: 14px 12px 12px;
  text-rendering: optimizelegibility;
  width: 100%;
  margin: 3px;
}


select{
  border: 1px solid #0464c5;
  border-radius: 0;
  box-sizing: border-box;
  color: #00234b;
  font-family: "sharp-sans-medium",Arial,sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  height: 48px;
  line-height: 24px;
  margin: 0;
  padding: 14px 12px 12px;
  text-rendering: optimizelegibility;
  margin: 3px;
   width: 88px;
}
h2  {
    color: #004d99;
}
.search{
  position: relative;
  margin-top: 2%;
}
.manage-lvsd ul{

  list-style: none;

  li {
      padding: 10px;
      border: solid 2px #0464c5;
      margin-bottom: 3px;
      font-size: 18px;
      cursor: pointer;
  }
  li:hover{
    background-color: #0464c5;
    a {
         color: #fff;
         text-decoration: none;
      }
  }
}
.entitle-tab button{
  width: 100%;
  font-size: 17px;
  background-color: #fff;
  border: solid 2px #0464c5;
  margin-bottom: 2px;
  padding: 10px;
  font-weight: 700;

}

 .entitle-tab button:hover {
      background-color: #0464c5;
      color: #fff;
  }

.search input{
  color: #000;
}
.profile_tab{
  span {
    float: right;
  }
  img{
    border: 1px solid #e2e2e2;
    height: 200px;
    width: 250px;
  }
}

.large-heading{
  color: #00234b;
  font-size: 53px;
  font-weight: 700;
}

.dropdown-menu{
 
  li {
    border-bottom: solid 2px #0464c5;}
  
  li a{
   color: #000;
  }
}

h2 hr{

    border: 3px solid #0464c5;
    height: 0;
    width: 10%;
}

.outline-btn{
    background-color: #fff;
    border: 2px solid #0464c5;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 2px;
    padding: 10px;
    width: 100%;
}
.outline-btn:hover{
  background-color: #0464c5;
  color: #fff;
  text-decoration: none;
}