/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
body{
  background-color: #E5F5FF;
}

.nav-tabs{
  border: none;
}
.navbar{
  border: none;
}
.nav{
  padding-left: 20%;
  li{
    a{
      color: white;
    }
    a:hover{
      color: black;
    }
  }
}
.heading{
 background-color: #0464C5;
 color: #fff;
 font-size: 24px;
 padding: 10px 5px;

}
table{
  width: 100%;
  margin-top: 20px;
}
td{
  text-align: left;
}
.new_user{
  width: 300px;
  margin: 50px auto;
  label{
    margin: auto;
  }
  input{
    float: right;
  }

}
.field{
  property: block;
  width: 65%;
  label{
    float:right;
  }

}
.actions{
  width: 60%;
  margin-top: 20px;
}
.sidebar{
  border-right: 5px solid #0464C5;
  height: 400px;
}
.hrlandinglist{
  list-style: none;
  font-size: 24px;
  text-align: center;
  li{
    margin: 10px 0;
    a{
    color: black;
    }
    a:hover{
      color: red;
    }
  }
}
#name{
  margin-left: 35%;
}
